loc_name=Provo, Utah
lat=40.339298
lon=-111.570900
msl=2274
timezone=America/Denver
cache_file_max_age=172800
power_saving=true
units_temperature=1
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/WSky-Light
show_scrollbox=false
scrollbox_lines=1
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=7
label2=5

